# ==========================================
# 1. Dependency Directories
# ==========================================
node_modules/
/vendor/
/venv/
.pnpm-store/
/ahk-bk-old/old-git-repo-bk/gitrepo-bk/1.0/gitrepo/
/ahk-bk-old/old-git-repo-bk/gitrepo-bk/1.1/gitrepo/
/ahk-bk-old/old-git-repo-bk/gitrepo-bk/1.2/gitrepo/
/ahk-bk/ahk-2026-07-14-20-22-20-PM/ahk/gitrepo-bk/1.0/gitrepo/
/ahk-bk/ahk-2026-07-14-20-22-20-PM/ahk/gitrepo-bk/1.1/gitrep/
/ahk-bk/ahk-2026-07-14-20-22-20-PM/ahk/gitrepo-bk/1.2/gitrepo/

# ==========================================
# 2. Build Outputs & Compiled Code & paths
# ==========================================
/dist/
/build/
/out/
/bin/
/junk/tools/
/junk/tools/SysinternalsSuite/
*.exe
*.dll
*.so
*.pyc
*.mp3
*.mp4

# ==========================================
# 3. Environment Variables & Secrets
# ==========================================
.env
.env.local
.env.production
*.pem
*.key

# ==========================================
# 4. Logs and Runtime Files
# ==========================================
*.log
npm-debug.log*
yarn-debug.log*
*.tmp
*.swp

# ==========================================
# 5. System Junk & OS-Specific Files
# ==========================================
.DS_Store
Thumbs.db
Desktop.ini

# ==========================================
# 6. IDE / Editor Configurations
# ==========================================
.vscode/
.idea/
*.suo
*.ntvs*
